.card-container {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Espacio entre tarjetas */
    flex-wrap: wrap; /* Para que las tarjetas se adapten en pantallas pequeñas */
}

.card {
    width: 300px; /* Ancho fijo para todas las tarjetas */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background: #f9f9f9;
}

.card:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse */
}

.card img {
    width: 100%; /* Las imágenes ocuparán el ancho completo de la tarjeta */
    height: 200px; /* Altura fija para uniformidad */
    object-fit: cover; /* Ajusta la imagen sin distorsión */
}

.card h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    color: #333;
}

.card p {
    font-size: 1rem;
    margin: 0 10px 20px;
    color: #666;
    line-height: 1.5;
}







.naranja {
    width: 200px; /* Ancho fijo */
    height: 250px; /* Altura fija */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ff5722; /* Fondo naranja */
    color: #fff; /* Texto blanco para contraste */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.naranja .espacio-imagen {
    width: 80%; /* Tamaño relativo para la imagen */
    height: 60%; /* Espacio para la imagen */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo claro para indicar espacio reservado */
    border: 2px dashed #fff; /* Borde para resaltar espacio reservado */
    margin-bottom: 10px; /* Espaciado entre la imagen y el texto */
    display: flex;
    justify-content: center;
    align-items: center;
}



.card.marron {
    background-color: #8B4513; /* Fondo marrón */
    color: #fff; /* Texto blanco para contraste */
}

.card.marron h3 {
    color: #f9f9f9; /* Ajusta el color del título */
}

.card.marron p {
    color: #f5f5f5; /* Ajusta el color del texto */
}
.card.marron img {
    width: 100%;
    height: 300px; /* Altura específica para esta tarjeta */
    object-fit: cover;
}




